@import url("mobile.css");


body {
	width: 40em;
}

header h1 {
	width: 260px;
	float: left;
}

#infoBox {
	width: 500px;
	padding-top: 21.5px;
	margin-left: 75%;
}

#info {
	width: 100%;
	margin: 0;
	padding: 0;
}

